confluent-kafka==2.3.0
feedparser==6.0.11
elasticsearch==8.12.0
sentence-transformers==2.7.0
fastapi==0.110.0
uvicorn[standard]==0.29.0
pyspark==3.5.1
requests==2.31.0
python-dotenv==1.0.1
pyiceberg[pyarrow]>=0.7.0
